<nav class="navbar">
  <div class="navbar-left">
    <%= link_to "MyShop", root_path, class: "brand" %>

    <% if user_signed_in? && current_user.seller? %>
      <%= link_to "Mes produits", products_path %>
      <%= link_to "Créer un produit", new_product_path %>
      <%= link_to "Commandes", carts_path %>

    <% elsif user_signed_in? && current_user.buyer? %>
      <%= link_to "Boutique", products_path %>

      <% total_count = current_user.cart&.total_items_count || 0 %>
      <%= link_to "Mon panier (#{total_count})", cart_path %>
      <%= link_to "Mes commandes", carts_path %>
    <% end %>
  </div>

  <div class="navbar-right">
    <% if user_signed_in? %>
      <span class="text-gray-500">
        Connecté en tant que <strong><%= current_user.role.capitalize %></strong>
      </span>
      <%= form_with url: destroy_user_session_path, method: :delete, class: "inline" do %>
        <%= submit_tag "Se déconnecter" %>
      <% end %>
    <% else %>
      <%= link_to "Connexion", new_user_session_path %>
      <%= link_to "Inscription", new_user_registration_path %>
    <% end %>
  </div>
</nav>
